name: Merge with source repository

on:
  workflow_dispatch:
    inputs:
      powershell:
        description: "Update PowerShell commands"
        default: false
        type: boolean
      linux:
        description: "Update Linux commands"
        default: false
        type: boolean
      devops:
        description: "Update DevOps Tools"
        default: false
        type: boolean
      compose:
        description: "Update Compose Stacks"
        default: false
        type: boolean
      golang:
        description: "Update GoLang Cheat Sheet"
        default: false
        type: boolean
      message:
        description: "Commit message"
        required: false
        default: ""

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Copy current repository
        uses: actions/checkout@v4

      - name: Clone rudocs repository
        if: ${{ github.event.inputs.powershell == 'true' || github.event.inputs.linux == 'true' || github.event.inputs.devops == 'true' || github.event.inputs.compose == 'true' }}
        run: git clone https://github.com/Lifailon/rudocs

      - name: Clone golang-cheat-sheet-ru repository
        if: ${{ github.event.inputs.golang == 'true' }}
        run: git clone https://github.com/Lifailon/golang-cheat-sheet-ru

      - name: Update PowerShell commands
        if: ${{ github.event.inputs.powershell == 'true' }}
        run: |
          rm content/PowerShell/index.md
          cp templates/powershell.md content/PowerShell/index.md
          cat rudocs/posh.md | sed -Ez "s/(.*\n)?---\n//" >> content/PowerShell/index.md

      - name: Update Linux commands
        if: ${{ github.event.inputs.linux == 'true' }}
        run: |
          rm content/Linux/index.md
          cp templates/linux.md content/Linux/index.md
          cat rudocs/linux.md | sed -Ez "s/(.*\n)?---\n//" >> content/Linux/index.md

      - name: Update DevOps Tools
        if: ${{ github.event.inputs.devops == 'true' }}
        run: |
          rm content/DevOps/index.md
          cp templates/devops.md content/DevOps/index.md
          cat rudocs/devops.md | sed -Ez "s/(.*\n)?---\n//" >> content/DevOps/index.md

      - name: Update Compose Stacks
        if: ${{ github.event.inputs.compose == 'true' }}
        run: |
          rm content/Compose/index.md
          cp templates/compose.md content/Compose/index.md
          cat rudocs/Docker-Compose/README.md | sed -Ez "s/(.*\n)?---\n//" >> content/Compose/index.md

      - name: Update GoLang Cheat Sheet
        if: ${{ github.event.inputs.golang == 'true' }}
        run: |
          rm content/GoLang/index.md
          cp templates/golang.md content/GoLang/index.md
          cat golang-cheat-sheet-ru/README.md | sed -Ez "s/(.*\n)?---\n//" >> content/GoLang/index.md

      - name: Commit and push
        if: ${{ github.event.inputs.powershell == 'true' || github.event.inputs.linux == 'true' || github.event.inputs.devops == 'true' || github.event.inputs.compose == 'true' || github.event.inputs.golang == 'true' }}
        run: |
          git config --global user.name 'GitHub Actions'
          git config --global user.email 'actions@github.com'
          git add .
          message="${{ github.event.inputs.message }}"
          if [ -z "$message" ]; then
            message=$(curl -s https://api.github.com/repos/Lifailon/lifailon.github.io/commits?sha=main | jq -r '.[0].commit.message')
          fi
          git diff --staged --quiet || (git commit -m "$message" && git push origin main)
